body,
h1,
h2,
h3,
p,
ul,
li,
form,
input,
textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-x: hidden;
    transform-origin: top left;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    min-height: 100vh;
}

nav {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    top: 0;
    z-index: 1000;
}

.nav-bar {
    background-color: #333;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 2em;
}

nav ul li {
    margin-left: 2em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
}

nav ul li a:hover {
    background-color: #555;
    opacity: 2.0;
}

section {
    padding: 6em 2em;
    margin: 2em 0;
}

.service-title {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin-bottom: 4em;
    flex-wrap: wrap;
}

.card {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    flex: 1 1 30%;
    max-width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

.card-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.card:hover .card-img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.card-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    margin-top: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    max-width: 80%;
}

.card-button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
}

.card-img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
}


.form {
    background-color: #f9f9f9;
    padding: 2em;
    border-radius: 8px;
    width: 100%;
    margin: 0 auto;
}


.form-elements {
    padding: 2em;
    border-radius: 8px;
    margin: auto;
    max-width: 600px; 
}


form label {
    display: block;
    margin: 1em 0 0.5em;
}


form input,
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ddd; /* Consistent border styling */
    border-radius: 4px; /* Rounded edges */
}


form textarea {
    height: 150px;
}


.form-title {
    text-align: center;
    margin-bottom: 20px; 
    font-size: 1.5em; 
}


.form-btn {
    display: block;
    margin: 1em auto;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 0.7em 2em;
    border: none; 
    font-size: 1em; 
}


button:hover {
    background-color: #555;
}


.react-calendar {
    width: 100%; 
    margin: 1em 0;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9; 
    /* margin: 0 auto; */
}


.react-calendar__tile {
    text-align: center;
    padding: 1em;
    border-radius: 4px;
}


.react-calendar__month-view__weekdays {
    font-weight: bold;
    background-color: #e9e9e9; 
    padding: 0.5em 0;
}


.react-calendar__tile--active {
    background-color: #333;
    color: white;
    border-radius: 4px;
}


.react-calendar__tile--now {
    background-color: #f0f0f0;
    border-radius: 4px;
}


.react-calendar__navigation button {
    background-color: #333;
    border: none;
    padding: 0.5em;
    margin: 0 0.2em; 
    border-radius: 4px;
}


.react-calendar__navigation button:hover {
    background-color: #555;
}


.banner {
    position: relative;
    width: 100%;
    height: 600px; 
    /* overflow: hidden; */
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
  }
  

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;

}

@media (min-width: 1600px) {
    .container {
        width: 80%;
    }
}

.footer {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    margin-top: auto;
}

.footer-background {
    background-color: #333;
    padding: 1em 0;
    width: 100%;
}

.footer-social {
    display: flex;
    align-items: center;
}

.footer-p {
    margin-right: 0.5em;
}

.footer-icons {
    vertical-align: middle;
    margin-left: 0.5em;
}

.footer-icons:hover {
    opacity: 1;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
    }

    .card {
        max-width: 100%;
        margin: 1em auto;
    }

    nav ul {
        flex-direction: row;
    }

    nav {
        flex-direction: row;
        width: 100%;
    }

    .form {
        height: auto;
        width: 100%;
        padding: 1em;
        margin: auto;
        border-radius: 0;
    }

    .form-elements {
        height: auto;
        width: 85%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.5em auto;
    }

    .form-btn {
        margin-top: 2em;
    }

    form label {
        text-align: center;
    }

    form input,
    form textarea {
        width: 90%;
        margin: 0.5em auto;
    }

    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        margin-top: 1em;
    }

    .overlay-text h1 {
        font-size: calc(24px + 0.8vw);
        white-space: nowrap;
    }
}